MONGODB_URI= Your MongoDB connection string here
PORT= Your Server port number here
CORS_ORIGIN= CORS allowed origin here

ACCESS_TOKEN_SECRET= Your access token secret here
ACCESS_TOKEN_EXPIRY= Your access token expiry time here
REFRESH_TOKEN_SECRET= Your refresh token secret here
REFRESH_TOKEN_EXPIRY= Your refresh token expiry time here