MONGODB_URI= Your MongoDB connection string here
PORT= Your Server port number here
CORS_ORIGIN= CORS allowed origin here

ACCESS_TOKEN_SECRET= Your access token secret here
ACCESS_TOKEN_EXPIRY= Your access token expiry time here
REFRESH_TOKEN_SECRET= Your refresh token secret here
REFRESH_TOKEN_EXPIRY= Your refresh token expiry time here

MAILTRAP_SMTP_HOST= Your Mailtrap SMTP host here
MAILTRAP_SMTP_PORT= Your Mailtrap SMTP port here
MAILTRAP_SMTP_USER= Your Mailtrap SMTP user here
MAILTRAP_SMTP_PASS=Your Mailtrap SMTP password here